/* Reset some default styles */
body, ul {
    margin: 0;
    padding: 0;
    background-color: #101010;
}
h1{
    color: rgb(42, 204, 204);
    justify-content: center;
    margin-left: 350px;
    
}
p, h2{
    color: white;
}

h2{
    color: rgb(229, 255, 0);
}
