/* Reset some default styles */
body, ul {
    margin: 0;
    padding: 0;
    background-color: #101010;
}
h1{
    color: rgb(42, 204, 204);
    justify-content: center;
    margin-left: 350px;
    
}
p, h2{
    color: white;
}

h2{
    color: rgb(229, 255, 0);
}

/* Style the navigation bar */
nav {
    background-color: #333;
    overflow: hidden;
}

/* Style the list items */
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    
}

/* Style the links */
nav ul li {
    margin: 0 15px;
    
}

nav ul li a {
    display: block;
    color: rgb(255, 0, 0);
    text-align: center;
    padding: 14px 20px;
    text-decoration: underline;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    font-display: bolder;
    background-color: #ffffff05;
    border-radius: 4px;
}

/* Change the color on hover */
nav ul li a:hover {
    background-color: #575757;
    border-radius: 4px;
}

